<div class="dialog-container">
    <div class="dialog-content">

        <div class="flex-container">
            <div class="label">Date:</div>
            <div class="value">January 24, 2023</div>
        </div>

        <div class="flex-container">
            <div class="value" style="color: red;">Retail/Wholesale</div>
            <div class="value" style="margin-left: 5px;">Operations</div>
        </div>


        <div style="color: red;">Arch Mortgage Insurance Company (Data Point: MI QA audit tab loan information- MI Company)</div>
        <div style="color: green;">
            230 N Elm St
            <br>
            Greensboro, NC 27401
        </div>
        <div style="color: green; text-decoration: underline;">quality.control@archmi.com | www.archmi.com</div>

        <div class="address">
            <span class="label">Re:</span>Borrower<br>
            <div class="value" style="margin-left: 30px; color: red;">Street Address<br>
                <div style="color: red;">City State Zip</div>
                <div style="color: red;">CFG Loan#: <span>8989898989</span></div>
                <div style="color: red;">FAMC Loan # or FHLMC Loan #</div>
            </div>
        </div>

        

        <div class="value">
            Citizens Bank, NA is responding to a MI Rescission for the loan referenced above dated <span style="color: red;">00/00/0000 <br>
            (Data point: MI Company Noticed Received date).</span> The post purchase review of this loan noted deficiencies <br>
            which affect the investment quality of the loan.
        </div>

        <div class="label">
            Defficiency:
        </div>

        <div class="value-center" style="margin-top: 20px;">--- Paste Agency Denial here---</div>


        <div class="label" style="margin-top: 20px;">
            Citizens Bank Response:
        </div>

        <div class="value-center" style="margin-top: 20px;">--- Paste Agency Denial here---</div>

        <div class="value" style="margin-top: 20px;">
            Citizens Bank, NA appreciates the opportunity to respond to your findings however; <span style="font-weight: 500;">we are unable to refute</span> <br>
            the sited defects. If I can be of further assistance, please contact me via email me at <br>
            <span style="text-decoration: underline; color: red;"> laura.moore@citizensbank.com</span>
        </div>

        <div style="margin-top: 20px; color: red;">
            Laura Moore Signature
        </div>

        <div style="margin-top: 30px;">
            Laura Moore <br>
            HM Repurchase Risk Senior Team Lead <br>
            Repurchase Risk/Resolution Management <br>

            6100 Tower Circle  <br>
            Franklin, TN 37067 <br>
            Toll Free 800.295.1000 <br>
            Email: laura.moore@citizensbank.com  
        </div>

        
    
    </div>

</div>