<div class="dashboard-main">
    <div class="dashboard-main-title">
        Dashboard
    </div>
    <!-- Overall Outstanding Pipeline & Recently Viewed -->
    <div class="dashabord-first-row">
        <!-- Overall Outstanding Pipeline -->
        <div>
            
        </div>

        <!-- Recently Viewed -->
        <div>

        </div>
    </div>

    <!-- Filter & Reports -->
    <div class="dashabord-second-row">
        <!-- Filter -->
        <div>

        </div>
        <!-- Reports -->
        <div>

        </div>
    </div>

    <!-- Assigned Loans & Recent Activity -->
    <div class="dashabord-third-row">
        <!-- Assigned Loans -->
        <div>

        </div>

        <!-- Recent Activity -->
        <div>
            
        </div>
    </div>

    <!-- Search -->
    <div class="dashabord-fourth-row">
    </div>
</div>
