<div class="dialog-container">
    <div class="dialog-content">

    <div style="margin-top: 30px;">
        Citizens Bank (CBNA) is pleased to advise that a Risk Alternative in the form of Indemnification with a <br>
        delinquency trigger is available for this loan. The loan is subject to repurchase if it becomes <br>
        120 days delinquent at any time.  If <span style="color: red;">Correspondent Lender</span> elects the Risk Alternative Indemnification <br>
        Option, Indemnification documentation will be sent to you by CBNA Correspondent Division.  <br>
        Please advise by <span style="color: red;">00/00/0000</span> if you wish to elect the Indemnification offer.
    </div>
    </div>
</div>

    