<div class="dialog-container">
    <div class="dialog-content">

    <h1 class="center-heading">RRR Loan Review Summary</h1>

    <div class="review-info">
        <div class="info-row">
          <span class="info-label">Date Review Began:</span>
          <span class="info-value">(LRS Creation Date)</span>
        </div>
        <div class="info-row">
          <span class="info-label">Date Review Finalized:</span>
          <span class="info-value">(RP Final Loan Disposition Date)</span>
        </div>
        <div class="info-row">
          <span class="info-label">Reviewing Analyst(s):</span>
          <span class="info-value">(RRR assigned Analyst to MI QC Audit)</span>
        </div>
        <div class="info-row">
            <span class="info-value">(RRR assigned Analyst to QC Audit)</span>
        </div>
        <div class="info-row">
            <span class="info-value">(RRR assigned Analyst to QC Audit)</span>
        </div>
        <div class="info-row">
            <span class="info-value">(RRR assigned Analyst to QC Audit)</span>
        </div>
      </div>


      <div class="borrower-info">
        <div class="info-row">
          <span class="info-label">Borrower:</span>
          <span class="info-value">(Borrower's Name)</span>
        </div>
        <div class="info-row">
          <span class="info-label">CBNA Loan#:</span>
          <span class="info-value">(CFG Loan Number)</span>
        </div>
        <div class="info-row">
          <span class="info-label">FAMC Loan#:</span>
          <span class="info-value">(FAMC Loan Number)</span>
        </div>
        <div class="info-row">
          <span class="info-label">Investor:</span>
          <span class="info-value">(Investor)</span>
          <span class="info-label info-label-margin-left">Investor Loan#:</span>
          <span class="info-value">(Investor Loan Number)</span>
        </div>
        <div class="info-row">
          <span class="info-label">MI Company:</span>
          <span class="info-value">(Mortgage Insurance Company)</span>
          <span class="info-label info-label-margin-left">MI Certificate#:</span>
          <span class="info-value">(MI Certificate#)</span>
        </div>
      </div>

      <h1 class="borrower-information-heading">Borrower Information</h1>

      <div class="table-container">
          <table class="review-table">
            <tr>
              <td>Borrower:</td>
              <td>(Borrower’s Name)</td>
              <td>Self-Employed:</td>
              <td>(Borrower Self-Employed?)</td>
            </tr>
            <tr>
              <td>Co-Borrower:</td>
              <td>(Co_Borrower’s Name)</td>
              <td>Self-Employed:</td>
              <td>(Co_Borrower Self-Employed?)</td>
            </tr>
            <tr>
              <td>Property Address:</td>
              <td>(Address)</td>
              <td>Occupancy:</td>
              <td>(Occupancy)</td>
            </tr>
          </table>
      </div>

      <h1 class="borrower-information-heading">Loan Information</h1>


      <div class="table-container">
        <table class="review-table">
          <tr>
            <td>Loan Program:</td>
            <td>(Borrower’s Name)</td>
            <td>Property Type:</td>
            <td>(Borrower Self-Employed?)</td>
          </tr>
          <tr>
            <td>Loan Program Type:</td>
            <td>(Co_Borrower’s Name)</td>
            <td>MI Percentage:</td>
            <td>(Co_Borrower Self-Employed?)</td>
          </tr>
          <tr>
            <td>Purpose:</td>
            <td>(Address)</td>
            <td>LTV:</td>
            <td>(Occupancy)</td>
          </tr>
          <tr>
            <td>Purchase Price:</td>
            <td>(Address)</td>
            <td>CLTV:</td>
            <td>(Occupancy)</td>
          </tr>
          <tr>
            <td>Appraised Value:</td>
            <td>(Address)</td>
            <td>Interest Rate:</td>
            <td>(Occupancy)</td>
          </tr>
          <tr>
            <td>Loan Amount:</td>
            <td>(Address)</td>
            <td>PITI:</td>
            <td>(Occupancy)</td>
          </tr>
          <tr>
            <td>Note Date:</td>
            <td>(Address)</td>
            <td>Housing Ratio:</td>
            <td>(Occupancy)</td>
          </tr>
          <tr>
            <td>Funded Date:</td>
            <td>(Address)</td>
            <td>Debt to Income Ratio:</td>
            <td>(Occupancy)</td>
          </tr>
        </table>
    </div>


    <h1 class="borrower-information-heading">Servicing</h1>

    <div class="table-container">
        <table class="review-table">
          <tr>
            <td>Borrower:</td>
            <td>(Borrower’s Name)</td>
            <td>Self-Employed:</td>
            <td>(Borrower Self-Employed?)</td>
          </tr>
          <tr>
            <td>Co-Borrower:</td>
            <td>(Co_Borrower’s Name)</td>
            <td>Self-Employed:</td>
            <td>(Co_Borrower Self-Employed?)</td>
          </tr>
          <tr>
            <td>Property Address:</td>
            <td>(Address)</td>
            <td>Occupancy:</td>
            <td>(Occupancy)</td>
          </tr>
        </table>
    </div>


    <div class="dynamic-content">
        <div class="content-block">
          <p class="dynamic-text">
            (If there is no entry in Self-Report, then >>) “This review is NOT resulting from a Self-Report”
          </p>
        </div>
        <div class="content-block">
          <p class="dynamic-text">
            (If there is an entry in Self-Report, then >>) CBNA SELF-REPORTED TO ({{text}}) – (“date reported” from Self-Report Entry)
          </p>
        </div>
    </div>
    
    
    <!-- <div class="dialog-content">
      <button class="dialog-button">Export</button>
    </div> -->
    </div> 
</div>
  