<div class="chart">
      <div class="chart-header">
            <div class="chart-header-left">
                  <div class="chart-header-icon">
                        here
                  </div>
                  <div class="chart-header-title">
                        here
                  </div>
            </div>
            
            <div class="chart-header-right">
                  <div class="chart-header-percentage">
                        + 17%
                  </div>
            </div>
      </div>

      <div class="chart-container">
            <canvas  id="MyChart" >{{ chart }}</canvas>
      </div>
</div>
