:host {
    display: block;
    background-color: #ECF2F1;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
  }

p {
  font-weight: 500;
  font-size: 15px;
  margin-top: 30px;
}

.template {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
  }

.template-div {
    padding: 10px;
}
  
  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 2px solid #868383;
    /* border-bottom-width: 0; */
  }

  
  .row:last-child {
    border-bottom: none;
  }
  
  .text {
    align-self: flex-start;
    font-weight: 500;
  }
  
  .button {
    align-self: flex-end;
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    color: white;
    border: none;
    padding-left: 13px;
    padding-right: 13px;
  }







  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .card {
    width: calc(20% - 10px);
    background-color: #FFFFFF;
    border: 1px solid whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
  }
  


  .card-heading {
    font-size: 30px;
    font-weight: 500;
  }
  
  .card-text {
    font-size: 16px;
    font-weight: 400;
    color: gray;
  }
  
  .linear-scale {
    margin-top: 10px;
  }
  
  .scale-input {
    width: 100%;
  }
  
  .card-button {
    margin-top: 10px;
    justify-content: end;
    display: flex;
    align-self: flex-end;
    cursor: pointer;
  }

  .card-buttonn {
    color: rgb(7, 74, 7);
    font-weight: 600;
    border: none;
    background-color: white;
    cursor: pointer;
  }



  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 0;
    background-color: green;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-weight: 700;
  }


  

  .table-heading {
    display: flex;
    justify-content: space-between;
  }

  

  .table-bordered {
    border-collapse: collapse;
    width: 100%;
    background: white;
    border-radius: 15px;
    overflow: hidden;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: none;
    padding: 10px;
  }
  
  .table-bordered th:not(:last-child),
  .table-bordered td:not(:last-child) {
    border-right: 2px solid gray;
  }
  
  .table-bordered tr:first-child {
    border-right: none;
  } 

  .table-bordered tr:not(:first-child) {
    margin-top: 10px;
  }


  .table-bordered tr:nth-child(n+1):nth-child(odd) {
    background-color: rgb(182, 180, 180);
  }
  
  .table-bordered tr:nth-child(n+1):nth-child(even) {
    background-color: white;
  }


  .dialog-button {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: green;
    border-radius: 5px;
    margin-left: 0px;
    color: #fff;
    border: none;
    font-size: 15px;
    margin-bottom: 15px;
    cursor: pointer;
  }





  