.app-sidebar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-sidebar-top {
  height: 15%;
}
.app-sidebar-middle {
  height: 50%;
  width: 90%;
  align-self: center;
}
.app-sidebar-bottom {
  height: 30%;
  width: 90%;
  align-self: center;
}

.company-project {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}
.app-sidebar-logo {
  width: 25%;
}
.app-sidebar-image {
  width: 100%;
  height: 100%;
}
.app-sidebar-title {
  align-self: center;
}
.app-sidebar-title-text1 {
 font-size: 1.2rem; 
}
.app-sidebar-title-text2 {
 font-size: 1.2rem; 
}

.app-sidebar-tabs {
  width: 100%;
}
.dashboard-tab {
  display: flex;
  flex-direction: row;
  height: 3rem;
}
.dashboard-tab:focus {
  background-color: black;
  border-radius: 5px;
}
.dashboard-tab-icon {
  width: 1.5rem;
  margin-left: 1rem;
  height: 50%;
  align-self: center;
}
.dashboard-tab-text {
  align-self: center;
  margin-left: 0.9rem;
}

.app-sidebar-tabs-search-icon {
  width: 1.5rem;
}
.search-tab {
  display: flex;
  flex-direction: row;
  height: 3rem;
}
.search-tab:focus {
  background-color: black;
  border-radius: 5px;
}
.search-tab-icon {
  width: 1.5rem;
  margin-left: 1rem;
  height: 50%;
  align-self: center;
}
.search-tab-text {
  align-self: center;
  margin-left: 0.9rem;
}

.app-sidebar-tabs-analysts-icon {
  width: 1.5rem;
}
.analysts-tab {
  display: flex;
  flex-direction: row;
  height: 3rem;
}
.analysts-tab:focus {
  background-color: black;
  border-radius: 5px;
}
.analysts-tab-icon {
  width: 1.5rem;
  margin-left: 1rem;
  height: 50%;
  align-self: center;
}
.analysts-tab-text {
  align-self: center;
  margin-left: 0.9rem;
}

.app-sidebar-tabs-reports-icon {
  width: 1.5rem;
}
.reports-tab {
  display: flex;
  flex-direction: row;
  height: 3rem;
}
.reports-tab:focus {
  background-color: black;
  border-radius: 5px;
}
.reports-tab-icon {
  width: 1.5rem;
  margin-left: 1rem;
  height: 50%;
  align-self: center;
}
.reports-tab-text {
  align-self: center;
  margin-left: 0.9rem;
}






.app-sidebar-account {
  display: flex;
  flex-direction: row;
}
.app-sidebar-account-image-box {
  width: 20%;
  text-align: center;
}
.app-sidebar-account-image {
  width: 60%;
}
.app-sidebar-account-right {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.app-sidebar-account-right-first-row{
  display: flex;
  flex-direction: row;
}
.app-sidebar-account-right-first-row-user{
  margin-right: 0.5rem;
  align-self: baseline;
}
.app-sidebar-account-right-second-row{
  font-size: 0.9rem;
}
.app-sidebar-account-right-third-row{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
}
.app-sidebar-account-right-third-row-logout{
  display: flex;
  flex-direction: row;
  margin-right: 0.8rem;
}
.app-sidebar-account-right-third-row-logout-text {
  font-size: 0.9rem;
  align-self: center;
}
.app-sidebar-account-right-third-row-logout-icon{
  margin-left: 0.5rem;
}