<mat-toolbar color="primary" class="header">
  <div class="header-left">
    <button class="header-left-upload">Upload</button>
  </div>
  <div class="header-right">
    <img class="header-right-reminder" src="../assets/images/reminder.png" />
    <img class="header-right-notification" src="../assets/images/notification_bell.png" />
    <!-- <div class="header-right-search">Enter Loan #: ___________________</div>
    <button class="header-right-advanced-search">Advanced Search</button> -->
  </div>
</mat-toolbar>
