.assigned-loans {
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.assigned-loans-header {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: underline;
}
.assigned-loans-manage-button {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    color: #016450;
    border: none;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 600;
}
.assigned-loans-manage-button-text {
    margin-right: 0.5rem;
}