<div class="chart">
    <div class="chart-header">
          <div class="chart-header-left">
                <div class="chart-header-icon">
                      <img class="overall-pipeline" src="../assets/images/overall-pipeline.png" />
                </div>
                <div class="chart-header-title">
                      Overall Outstanding Pipeline
                </div>
          </div>
          
          <div class="chart-header-right">
                <div class="chart-header-percentage">
                      <div class="chart-header-percentage-number">
                            + 17%
                      </div>
                </div>
          </div>
    </div>


</div>
