<div class="app-sidebar-container">
  <mat-list class="app-sidebar-top">
    <div class="app-sidebar-logo">
      <img class="app-sidebar-image" src="../assets/logo.png" />
    </div>
    <div class="app-sidebar-title">
      <div class="app-sidebar-title-text1">Repurchase Risk</div>
      <div class="app-sidebar-title-text2">Resolution</div>
    </div>
  </mat-list>

  <mat-list class="app-sidebar-tabs">
    <mat-list-item>
      <mat-list>
        <mat-list-item style="margin-bottom: 1rem;"  routerLink="/dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </mat-list-item>
        <mat-list-item style="margin-bottom: 1rem;" routerLink="/search" routerLinkActive="active">
          <mat-icon>search</mat-icon>
          Search</mat-list-item>
        <mat-list-item style="margin-bottom: 1rem;" routerLink="/analysts" routerLinkActive="active">
          <mat-icon>people</mat-icon>
          Analysts
        </mat-list-item>
        <mat-list-item routerLink="/reports" routerLinkActive="active">
          <mat-icon> list_alt</mat-icon>
          Reports
        </mat-list-item>
      </mat-list>
    </mat-list-item>
  </mat-list>

  <mat-list class="app-sidebar-account"> 
    <div class="app-sidebar-account-image-box">
      <img class="app-sidebar-account-image" src="../assets/user_icon.png" />
    </div>
    <div class="app-sidebar-account-right">
      <div class="app-sidebar-account-right-first-row">
        <div class="app-sidebar-account-right-first-row-user">Hi, User</div>
        <mat-icon>edit</mat-icon>
      </div>
      <div class="app-sidebar-account-right-second-row">
        Analyst
      </div>
      <div class="app-sidebar-account-right-third-row">
        <div style="font-size: 0.75rem; align-self: center;">
          Switch Role
        </div>
        <div class="app-sidebar-account-right-third-row-logout">
          <div class="app-sidebar-account-right-third-row-logout-text">
            Log Out
          </div>
          <div class="app-sidebar-account-right-third-row-logout-icon">
            <mat-icon>exit_to_app</mat-icon>
          </div>
        </div>
      </div>
      
    </div>
  </mat-list>
</div>