<div class="app-sidebar-container">
  <mat-list class="app-sidebar-logo">
    <mat-list-item>Logo</mat-list-item>
  </mat-list>

  <mat-list class="app-sidebar-tabs">
    <mat-list-item>
      <mat-list>
        <mat-list-item routerLink="/dashboard" routerLinkActive="active">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </mat-list-item>
        <mat-list-item routerLink="/search" routerLinkActive="active">
          <mat-icon>search</mat-icon>
          Search</mat-list-item>
        <mat-list-item routerLink="/analysts" routerLinkActive="active">
          <mat-icon>people</mat-icon>
          Analysts
        </mat-list-item>
        <mat-list-item routerLink="/reports" routerLinkActive="active">
          <mat-icon> list_alt</mat-icon>
          Reports
        </mat-list-item>
      </mat-list>
    </mat-list-item>
  </mat-list>

  <mat-list class="app-sidebar-account"> 
    <mat-list-item>ACCOUNT EDIT + SWITCH ROLE + LOG OUT</mat-list-item>
  </mat-list>
</div>