.app-sidebar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-sidebar-top {
  position: relative; 
  top: 1rem;
  display: flex;
  flex-direction: row;
}
.app-sidebar-logo {
  width: 25%;
}
.app-sidebar-image {
  width: 100%;
  height: 100%;
}
.app-sidebar-title {
  align-self: center;
}
.app-sidebar-title-text1 {
 font-size: 1.2rem; 
}
.app-sidebar-title-text2 {
 font-size: 1.2rem; 
}

.app-sidebar-tabs {
  position: relative;
  width: 100%;
  top: 7rem;
  margin-left: 1rem;
}
.dashboard-tab {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.dashboard-tab-icon {
  width: 1.5rem;
}
.dashboard-tab-text {
  align-self: center;
  margin-left: 0.9rem;
}
.search-tab {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.search-tab-icon {
  width: 1.5rem;
}
.search-tab-text {
  align-self: center;
  margin-left: 0.9rem;
}
.analysts-tab {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.analysts-tab-icon {
  width: 1.5rem;
}
.analysts-tab-text {
  align-self: center;
  margin-left: 0.9rem;
}
.reports-tab {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}
.reports-tab-icon {
  width: 1.5rem;
}
.reports-tab-text {
  align-self: center;
  margin-left: 0.9rem;
}




.app-sidebar-tabs-search-icon {
  width: 1.5rem;
}
.app-sidebar-tabs-analysts-icon {
  width: 1.5rem;
}
.app-sidebar-tabs-reports-icon {
  width: 1.5rem;
}



.app-sidebar-account {
  position: relative; 
  bottom: -33rem;
  display: flex;
  flex-direction: row;
}
.app-sidebar-account-image-box {
  width: 20%;
  text-align: center;
}
.app-sidebar-account-image {
  width: 60%;
}
.app-sidebar-account-right {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.app-sidebar-account-right-first-row{
  display: flex;
  flex-direction: row;
}
.app-sidebar-account-right-first-row-user{
  margin-right: 0.5rem;
  align-self: baseline;
}
.app-sidebar-account-right-second-row{
  font-size: 0.9rem;
}
.app-sidebar-account-right-third-row{
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  justify-content: space-between;
}
.app-sidebar-account-right-third-row-logout{
  display: flex;
  flex-direction: row;
  margin-right: 0.8rem;
}
.app-sidebar-account-right-third-row-logout-text {
  font-size: 0.9rem;
  align-self: center;
}
.app-sidebar-account-right-third-row-logout-icon{
  margin-left: 0.5rem;
}