<div class="app-sidebar-container">
  <mat-list class="app-sidebar-top">
    <div class="app-sidebar-logo">
      <img class="app-sidebar-image" src="../assets/images/citizens_logo.png" />
    </div>
    <div class="app-sidebar-title">
      <div class="app-sidebar-title-text1">Repurchase Risk</div>
      <div class="app-sidebar-title-text2">Resolution</div>
    </div>
  </mat-list>

  <mat-list class="app-sidebar-tabs">
    <mat-list-item>
      <mat-list>
        <div class="dashboard-tab" routerLink="/dashboard" routerLinkActive="active">
          <img class="dashboard-tab-icon" src="../assets/images/dashboard.png" />
          <div class="dashboard-tab-text">Dashboard</div>
        </div>
        <div class="search-tab" routerLink="/search" routerLinkActive="active">
          <img class="search-tab-icon" src="../assets/images/search.png" />
          <div class="search-tab-text">Search</div>
        </div>
        <div class="analysts-tab" routerLink="/analysts" routerLinkActive="active">
          <img class="analysts-tab-icon" src="../assets/images/analysts.png" />
          <div class="analysts-tab-text">Analysts</div>
        </div>
        <div class="reports-tab" routerLink="/reports" routerLinkActive="active">
          <img class="reports-tab-icon" src="../assets/images/reports.png" />
          <div class="reports-tab-text">Reports</div>
        </div>
      </mat-list>
    </mat-list-item>
  </mat-list>

  <mat-list class="app-sidebar-account"> 
    <div class="app-sidebar-account-image-box">
      <img class="app-sidebar-account-image" src="../assets/images/user_picture.png" />
    </div>
    <div class="app-sidebar-account-right">
      <div class="app-sidebar-account-right-first-row">
        <div class="app-sidebar-account-right-first-row-user">Hi, User</div>
        <img class="app-sidebar-account-right-first-row-user-eidt" src="../assets/images/user_edit.png" />
      </div>
      <div class="app-sidebar-account-right-second-row">
        Analyst
      </div>
      <div class="app-sidebar-account-right-third-row">
        <div style="font-size: 0.75rem; align-self: center;">
          Switch Role
        </div>
        <div class="app-sidebar-account-right-third-row-logout">
          <div class="app-sidebar-account-right-third-row-logout-text">
            Log Out
          </div>
          <div class="app-sidebar-account-right-third-row-logout-icon">
            <img class="app-sidebar-account-log-out" src="../assets/images/log_out.png" />
          </div>
        </div>
      </div>
      
    </div>
  </mat-list>
</div>