.app-sidebar-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.app-sidebar-logo {
  position: relative; 
  top: 1rem;
}

.app-sidebar-tabs {
  position: relative;
  width: 100%;
  top: 7rem;
}

.app-sidebar-account {
  position: relative; 
  bottom: -33rem;
}