<div class="dialog-container">
    <div class="dialog-header">
      <span class="dialog-header-text">Report</span>
      <!-- <mat-icon class="cancel-icon">clear</mat-icon> -->
      <span class="cancel-icon" (click)="closeDialog()">Cancel</span>
    </div>
    <div class="dialog-content">
      
      <div class="tablee">
        <table class="table-bordered">
            <thead>
              <tr style="background-color: white; border-bottom: 2px solid gray;">
                <th colspan="3" style="text-align: left; border-bottom: 2px solid gray; border-right: none;">Repurchase Notice Activity Running Total (RA)</th>
                <th colspan="2" style="text-align: right; border-bottom: 2px solid gray;">Total: 20</th>
              </tr>
              <tr style="border-bottom: 2px solid gray;">
                <th>Date</th>
                <th>Beginning RA Loan Amount</th>
                <th>Beg. RA Loan Count</th>
                <th>RA Recieved Loan Amount</th>
                <th>RA Rec. Loan Count</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of reportsTableData" style="text-align: center;">
                <td>{{ row.column1 }}</td>
                <td>{{ row.column2 }}</td>
                <td>{{ row.column3 }}</td>
                <td>{{ row.column4 }}</td>
                <td>{{ row.column5 }}</td>
              </tr>
            </tbody>
          </table>
      </div>
      
      <button class="dialog-button">Export</button>
    </div>
    <!-- <div class="dialog-buttons">
        <button class="dialog-cancel-button" (click)="closeDialog()">Cancel</button>
        <button class="dialog-assign-button">Assign</button>
    </div> -->
    
  </div>
  