.recent-view {
  display: flex;
  flex-direction: column;
}
.recent-view-title {
  display: flex;
  flex-direction: row;
}
.recent-view-title-icon {
  margin-right: 0.5rem;
  padding-left: 1rem;
  padding-top: 0.3rem;
}
.recent-view-title-text {
  margin-right: 0.5rem;
  text-align: center;
  align-self: center;
}


table[mat-table] {    
    border-radius: 1rem;
    overflow:hidden !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
th[mat-header-cell] {
    font-size: 0.7rem;
    font-weight: bold;
    text-align: center;
    padding: 0;
    color: white;
}
td[mat-cell] {
    font-size: 0.7rem;
    text-align: center;
    border-left: 1px solid rgb(206, 206, 206);
}
tr[mat-header-row] {
  height: 2.2rem;
  color: white;
  background-color: #016450;
}
tr[mat-row] {
  height: 1.85rem;
}

