<div class="recent-view">
    <div class="recent-view-title">
        <div class="recent-view-title-icon">
            <img class="recently-viewed-icon" src="../assets/images/recently_viewed.png" />
        </div>
        <div class="recent-view-title-text">
            Recently Viewed
        </div>
    </div>

    <!-- Table -->
    <table mat-table [dataSource]="loans" class="mat-elevation-z8">

        <!-- Loan Number Column -->
        <ng-container matColumnDef="loanNumber">
            <th mat-header-cell *matHeaderCellDef> Loan Number </th>
            <td mat-cell [ngStyle]="{'border-left': 'white'}" *matCellDef="let loan"> {{ loan.loanNumber }} </td>
        </ng-container>

        <!-- Borrower's Name Column -->
        <ng-container matColumnDef="borrowerName">
            <th mat-header-cell *matHeaderCellDef> Borrower's Name </th>
            <td mat-cell *matCellDef="let loan"> {{ loan.borrowerName }} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let loan"> {{ loan.status }} </td>
        </ng-container>

        <!-- Context Column -->
        <ng-container matColumnDef="context">
            <th mat-header-cell *matHeaderCellDef> Context </th>
            <td mat-cell *matCellDef="let loan"> {{ loan.context }} </td>
        </ng-container>

        <!-- Due Date Column -->
        <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef> Due Date </th>
            <td mat-cell *matCellDef="let loan"> {{ loan.dueDate | date }} </td>
        </ng-container>

        <!-- Auditor Column -->
        <ng-container matColumnDef="auditor">
            <th mat-header-cell *matHeaderCellDef> Auditor </th>
            <td mat-cell *matCellDef="let loan"> {{ loan.auditor }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>