<div class="dialog-container">
    <div class="dialog-header">
      <h2 class="dialog-header-text">Upload Documents</h2>
    </div>
    <div class="dialog-content">

        <div class="row">
            <div class="element">
              <label for="agency">Agency</label>
            </div>
            <div class="element">
                <div class="custom-select">
                  <select id="agency" (change)="onAgencySelected($event)">
                    <option value="">Select</option>
                    <option value="agency1">GSE - FHLMC</option>
                    <option value="agency2">GSE - FNMA</option>
                    <option value="agency3">GA - FHA/HUD</option>
                    <option value="agency3">MI - Arch</option>
                    <option value="agency3">MI - Enact</option>
                  </select>
                  <span class="arrow"></span>
                </div>
              </div>
        </div>
        
        <div class="notice-received">
          <div class="row">
            <div class="element">
              <label for="context">Context</label>
            </div>
            <div class="elementContext">
              <!-- <input type="text" id="context" [(ngModel)]="context" /> -->
              <input type="text" [readonly]="isReadOnly" [(ngModel)]="context" />

            </div>
          </div>
        </div>
        <div class="notice-received">
          <div class="row">
            <div class="element">
              <label for="notice-received">Notice Received</label>
            </div>
            <div class="element">
              <input type="text" id="notice-received" [(ngModel)]="noticeReceived" />
            </div>
          </div>
        </div>
        <div class="notice-received">
          <div class="row">
            <div class="element">
              <label for="responsedue">Response Due</label>
            </div>
            <div class="element">
              <input type="text" id="responsedue" [(ngModel)]="responsedue" />
            </div>
          </div>
        </div>


        <div class="drop-zone" [class.dragging]="fileDragging" appDragDrop (fileDragged)="fileDragging = $event" (fileDropped)="onFileDropped($event)">
          <div class="upload-icon">
            <i class="fas fa-cloud-upload-alt"></i>
          </div>
          <div class="upload-text">

            <!-- <span *ngIf="!selectedFile">Drag and drop file or Choose file to upload</span> -->
            <span>Drag and drop file or Choose file to upload</span>
            <p style="font-weight: 300;">.xlsx</p>

            

            <div *ngIf="!selectedFile" class="choose-file"><input type="file"  #fileInput (change)="onFileSelected($event)" /></div>

            <span *ngIf="selectedFile">Selected file: {{ selectedFile.name }}</span>

            <button *ngIf="selectedFile" (click)="clearSelectedFile()">Clear File</button>
            

            
          </div>
        </div>

        

        <div class="add-manually">
          <p>Or</p>
          <button class="dialog-upload-button" (click)="handleButtonClick()">Add Manually</button>
        </div>

        <div class="dialog-buttons">
          <button class="dialog-cancel-button" (click)="closeDialog()">Cancel</button>
          <button class="dialog-upload-button" (click)="handleButtonClickUpload()">Upload</button>
      </div>
        
    </div>


</div>

