<div class="dialog-container">
    <div class="dialog-content">

        <div class="flex-container">
            <div class="label">Date:</div>
            <div class="value">22/07/2022</div>
        </div>

        <div class="value">Correspondent Lender</div>

        <div class="flex-container">
            <div class="label">Attention:</div>
            <div class="value">Correspondent Lender Contact Name</div>
        </div>

        <div class="address">
            <span class="label">Re:</span>Borrower<br>
            <div class="value" style="margin-left: 30px;">122 Main Street<br>
                <div>Anywhere TN 00000</div></div>
        </div>

        <div class="label">Notice of Agency Demand</div>

        <div class="flex-container">
            <div class="label">Loan#</div>
            <div class="value">989898989898</div>
        </div>

        <div class="flex-container-center">
            <div class="label-center">Response Due:</div>
            <div class="value-center">22/11/2023</div>
        </div>

        <div class="flex-container" style="margin-top: 20px;">
            <div class="value" style="margin-right: 5px;">Dear</div>
            <div class="value">Correspondent Lender,</div>
        </div>

        <div class="value">
            Citizens Bank, N.A. (CBNA), received notification that this loan has been audited by the <br>
            Agency which resulted in the discovery of certain deficiencies.
        </div>

        <div class="value" style="margin-top: 20px;">
            Because these deficiencies could lead to an AGENCY DEMAND FOR REMEDY, we feel that it is only <br>
            appropriate to give <span style="color: red;">Correspondent Lender</span> the opportunity to respond to the concerns below.
        </div>

        <div class="value" style="margin-top: 20px;">
            If <span style="color: red;">Correspondent Lender </span>is unable to satisfy the concerns noted, it may become necessary for <br>
            CBNA to ask <span style="color: red;">Correspondent Lender</span> to fulfill its obligations pursuant to the terms of the <br>
            Correspondent Loan Purchase Agreement (CLPA). This letter does not constitute a demand at this time.
        </div>

        <div class="label" style="margin-top: 20px;">Investor Findings:</div>
        <div class="label" style="margin-left: 20px; margin-top: 20px;">Defect Name:</div>
        <div class="label" style="margin-left: 20px; margin-top: 20px;">Investor Issue:</div>

        <br>
        <br>

        <!-- <div class="value">
            We have found that the best way to appeal/resolve valuation concerns is when the <br>
            Correspondent Lender obtains a Historical Review Appraisal (NOT Desk Review) from <br>
            a third party that conclusively refutes the discrepancies noted by the investor's review and supports <br>
            the value in the Origination Appraisal along with the rebuttal from the <br>
            Origination Appraiser responding to EACH of the cited issues with supporting documentation. <br>
            Please make sure that both the reviewer and the origination appraiser address the following items in detail:<br>
        </div>


        <div class="value" style="margin-left: 20px; margin-top: 20px;">
            <div>1. <span style="margin-left: 20px;">Provide a list of all sales from the area within a 12-month time frame of the effective date.</span></div>
            <div>2. <span style="margin-left: 20px;">If there were 20 sales, for example, please explain why each were excluded from <br><span style="margin-left: 40px;">consideration (30% larger, 30% smaller, non-arm’s length transaction….)</span></span></div>
            <div>3. <span style="margin-left: 20px;">Explain in detail (whittle it down) to show why the comparable selected in the <br><span style="margin-left: 40px;">OA and RA (if he agrees with OA) were the best available.</span></span></div>
            <div>4. <span style="margin-left: 20px;">Show that “Principle of Substitution” does not fit with sales suggested above by the Agency.</span></div>
        </div>

        <div class="value" style="margin-top: 20px;">
            Provide alternate comparable (from some of the closer, omitted sales) that while not  <br> the “best” comparable still 
            support the value after adjustments
        </div> -->

        <div class="value" style="margin-top: 20px;">
            Our goal is to partner with correspondent clients to resolve repurchase requests as expeditiously <br>
            as possible. Our success rate is highest when we’re able to submit the strongest possible first <br>
            appeal to our investors. This is when we’re afforded the most time to diligently research material <br>
            findings and submit a detailed analysis of our position. <br>
            If the first appeal is denied, FNMA and FHLMC have limited the time a lender has to <br>
            submit subsequent appeals. In conjunction with the shortened time frame, second appeals are <br>
            only permitted when new material documentation/supporting information is included that was not <br>
            available at the time of the first appeal. 
        </div>

        <div class="flex-container" style="margin-top: 20px;">
            <div class="value">Citizens Bank requests that any information you wish to provide be submitted by</div>
            <div class="value" style="color: red; margin-left: 10px;">00/00/0000</div>
        </div>

        <div style="margin-top: 20px;">
            Based on the above, the loan is subject to a recourse obligation under the terms of your Correspondent Loan Purchase Agreement (CLPA). 
        </div>


        <div style="margin-top: 20px;">
            Please forward your written explanation of the findings and/or requested documentation noted above by response due date. 
            <span style="text-decoration: underline; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">When responding via email, please include all parties above.</span> Failure to respond by <span style="color: red;">00/00/0000</span>, will be interpreted as 
            your agreement with the findings listed above and will result in the issuance of a formal demand.
        </div>


        
    
    </div>

</div>