.header {
  background-color: #000000;
  color: #ffffff;
  height: 6vh;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 100%;
}
.header-left-upload {
background-color: #008555;
color: white;
height: 70%;
width: 6rem;
font-size: 0.9rem;
border: none;
border-radius: 6px;
margin-left: 1.5rem;
cursor: pointer;
}
.header-right {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.header-right-reminder {
align-self: center;
height: 70%;
}
.header-right-notification {
align-self: center;
height: 70%;
margin-bottom: 4px;
}

.app-reminder {
align-self: center;
}
.app-notification {
align-self: center;
margin-bottom: 0.3125rem;
}