<table-overview-example></table-overview-example>

<div class="center-div">
<div class="search">
<p class="search-title">Search</p>
<div class="full-width">
  <div class="search-title-width">
    <p class="entries-font">Show</p>


  <input matInput  type="text" class="search-container-field-container"  placeholder="" value=""  [(ngModel)]="pageSize">


    <p class="entries-font">Entries</p>
     <button class="go-button">Go</button>
     
         
  </div>
  <div class="example-full-width">
    <!-- <input type="text" placeholder="Search by Name"> -->
    <label class="search-field-title">Enter Loan #: </label>
    <input type="text"  class="search-container-field" placeholder="" [(ngModel)]="searchTerm" (input)="filterTable()">
    <button class="header-left-upload">Search</button>

    <button class="header-right-advanced-search" (click)="show = !show">{{show ? 'Advanced Search' : 'Advanced Search'}}</button>
    
    <br> </div>
</div>



<div class="center-container">
  <div *ngIf="show" class="center-container">
    <mat-card class="center-advanced">
      <mat-card-title class="advanced-search-card-header">Advanced Search</mat-card-title>
      <mat-card-content class="advanced-search-open-other">
    <input type="text"  class="search-container-field" placeholder="" [(ngModel)]="advancedSearchTerm" (input)="advancedFilterTable()">
    <button class="header-left-upload">Search</button>
    <button class="header-right-advanced-search" [disabled]="show ? true : false" (click)="show = !show">{{show ? 'Clear' : 'Advanced Search'}}</button>
  </mat-card-content>
    </mat-card>
  </div>
  <div  class="advanced-search-open">
    <table  > 
    
      <thead>
        <tr>
          <th>Loan Number</th>
          <th>Borrower Name</th>
          <th>Investor</th>
          <th>Status</th>
          <th>Context</th>
          <th>Disposal Description</th>
          <th>Recieved Date</th>
          <th>Due Date</th>
          <th>Auditor</th>
        </tr>
      </thead>
      
      <tbody >
        <tr *ngFor="let row of filteredRows"  class="body">
        
          <td>{{ row.loanNumber }}</td>
          <td>{{ row.borrowerName }}</td>
          <td>{{ row.investor }}</td>
          <td>{{ row.status }}</td>
          <td>{{ row.context }}</td>
          <td>{{ row.disposalDescription }}</td>
          <td>{{ row.recievedDate }}</td>
          <td>{{ row.dueDate }}</td>
          <td>{{ row.auditor }}</td>
          
        </tr>
        
      </tbody>
      
    </table>
  </div>
   <div class="items-per-page">
<mat-paginator 
#paginator
[pageSize]="pageSize"
(page)="pageEvent = $event"

>

</mat-paginator>
</div>
  </div>


<div>
 
</div>

</div>
</div>