.example-form {
  min-width: 150px;
  max-width: 500px;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border: solid;
  width: 100%;
}
.entries-input {
  width: 44px;
  height: 22px;
  margin-left: .3rem;
  margin-right: .3rem;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border: solid;
 
}
.top-paging {
width:100%;
flex-direction: row;
display: flex;
}
.example-full-width {
  align-items: center;
  gap:1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  width: 100%;
}
.search-field-width {
  margin-top: 1rem;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-title-width {
  margin-top: 1rem;
  margin-left: 5rem;
  width: 15%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.search-title {
  font-weight: 600;
  font-size: 1rem;
}
.search-field-title {
  font-weight: 600;
  font-size: .8rem;
}
.entries-font {
  font-weight: 500;
  font-size: .5rem;
}
.table {
  width: 60%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.td, th {
  width: 10%;
  color: white;
  font-weight: 500;
}

.search-table-header {
  background-color: #006450;
}
.table-container {

 margin: 6%;
}
.go-button {
 width:50px;
 height:30px;
  background-color: #006450;
 color:white

}

/* ################################################################# */

.container {
  position: relative;
  width: 100%;
  margin-left: 20px;
  /* margin-top: 20px; */
}

.analysts-heading {
    margin-left: -80px;
    margin-bottom: 40px;
  }

.action-item {
    margin-left: 6px;
    font-size: 10px;
}

  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* Add margin at the bottom of the search container */
  }
  .search-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* Add margin at the bottom of the search container */
  }
  
  .search-container-field {
    border: 1px solid green; /* Add border to the search input */
    padding: 5px; /* Add padding to the search input */
    margin-right: 5px; /* Add some spacing between the search input and button */
    width: 300px; /* Increase the width of the search input */
    border: 2px solid green;
    padding: 10px 20px;
    border-radius: 8px;
  }
  .example-full-width{
  
    display: flex;
    flex-direction: row;
   
  }
  .center-container{
    width: 60%;
    margin:1rem;
   
  }
  .full-width{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  }
  .search-container input {
    border: 1px solid green; /* Add border to the search input */
    padding: 5px; /* Add padding to the search input */
    margin-right: 5px; /* Add some spacing between the search input and button */
    width: 300px; /* Increase the width of the search input */
    border: 2px solid green;
    padding: 10px 20px;
    border-radius: 8px;
  }
  
  .search-container button {
    padding: 10px 20px; /* Add padding to the search button */
    background-color: green; /* Set the background color of the search button */
    color: white; /* Set the text color of the search button */
    border: none; /* Remove the border of the search button */
    border: 2px solid green;
    border-radius: 8px;
    margin-left: 10px;
  }
  .search{
   display: flex;
   flex-direction: column;
  
  }
  .header-right-advanced-search{
    background-color: #898A8E;
    color: white;
    height: 2rem;
    width: 8rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    white-space: nowrap;
  }
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 100px;
    margin-right: auto;
    max-width: 600px; 
  }
  
  .table-wrapper {
    border-radius: 8px 8px 0 0;
    /* overflow: hidden; */
  }
  
  table {
    width: 150%; /* Increase the width of the table */
    border-collapse: collapse;
    /* max-width: 150%; */
  }
  
  th {
    padding: 10px;
    text-align: left;
    color: white; /* Column header text color */
    background-color: #f2f2f2; /* Default background color for column headers */
    border: 2px solid black; /* Border style for column headers */
    text-align: center;
  }
  
  th:nth-child(1),
  th:nth-child(2),
  th:nth-child(3),
  th:nth-child(4),
  th:nth-child(5),
  th:nth-child(6),
  th:nth-child(7),
  th:nth-child(8),
  th:nth-child(9),
  th:nth-child(10){
    background-color: green; /* Background color for specific column headers */
  }
  
  td {
    padding: 10px;
    text-align: left;
    border: 2px solid gray; /* Border style for rows */
    text-align: center;
  }



  .scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: green;
    color: rgb(245, 241, 241);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
  }
  
  .scroll-top-btn i {
    font-size: 20px;
    line-height: 40px;
  }
  
  .header-left-upload {
    background-color: #008555;
    color: white;
    height: 2rem;
    width: 6rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    margin-left: 1rem;
  }