<div class="dialog-container">
    <div class="dialog-content">
        <div><h1 class="center-heading">Request to Remit Repurchase/Make Whole Funds</h1></div>

        <div class="date-container">
            <div fxLayout="row" fxLayoutAlign="flex-start">
              <span style="font-weight: 600;">Date:</span>
              <span style="margin-left: 8px;">2/11/2023</span>
            </div>
        </div>

        <div style="display: flex; justify-content: space-between; margin-top: 20px;">
            <div style="flex: 1; padding-right: 10px; width: 100%;">
              <p>To be completed by Loan Delivery</p>
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Loan Number: </span>
                <span style="margin-left: 20px;" class="value">2222222222</span>
            </div>
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Borrower: </span>
                <span style="margin-left: 30px;" class="value">2222222222</span>
            </div>
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Investor: </span>
                <span style="margin-left: 8px;" class="value">2222222222</span>
            </div>
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Investor Loan #: </span>
                <span style="margin-left: 8px;" class="value">2222222222</span>
            </div>
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">RC to Charge: </span>
                <span style="margin-left: 8px;" class="value">2222222222</span>
            </div>
            <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">MSP Inv./Cat.: </span>
                <span style="margin-left: 8px;" class="value">2222222222</span>
            </div>
            <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Make Whole or Repurchase: </span>
                <span style="margin-left: 8px;" class="value">2222222222</span>
            </div>
            <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Attachments: </span>
                <span style="margin-left: 8px;" class="value">2222222222</span>
            </div>


            <div style="margin-bottom: 8px; margin-top: 50px;" class="info-row">
                <span style="font-weight: 600;" class="label">Comment: </span>
                <!-- <span style="margin-left: 8px;" class="value">2222222222</span> -->
                <textarea rows="4"></textarea>
            </div>

            <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Requested by: </span>
                <span style="margin-left: 8px;" class="value">Mitchell Johnson</span>
            </div>

            </div>
            <!-- ///////////////////////////////////////////////////////////// -->
            <div style="flex: 1; padding-left: 10px;">
              <p>To be completed by Investor Accounting</p>
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Funds Remitted: </span> 
                <span style="margin-left: 8px;"class="value">2222222222</span>
            </div>
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Change: </span>
                <span style="margin-left: 8px;" class="value">2222222222</span>
            </div>
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Total Funds Remitted: </span>
                <span style="margin-left: 8px;" class="value">2222222222</span>
            </div>
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Principal: </span>
                <span style="margin-left: 8px;" class="value">2222222222</span>
            </div>
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Interest: </span>
                <span style="margin-left: 8px;" class="value">2222222222</span>
            </div>
            
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Premium/Discount: </span>
                <span style="margin-left: 8px;" class="value">$ 2222222222</span>
            </div>
              <div style="margin-bottom: 8px;" class="info-row">
                <span style="font-weight: 600;" class="label">Others/Expenses: </span>
                <span style="margin-left: 8px;" class="value">$ 2222222222</span>
            </div>
            </div>
          </div>
          
            


    </div>
</div>