.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border: solid;
  width: 100%;
}
.entries-input {
  width: 44px;
  height: 22px;
  margin-left: .3rem;
  margin-right: .3rem;
  background-color: white;
  border-color: black;
  border-width: 1px;
  border: solid;
 
}
.top-paging {
width:100%;
flex-direction: row;
display: flex;
}
.example-full-width {
  align-items: center;
  gap:1rem;
  margin-top: 1rem;
  margin-left: 2rem;
  width: 100%;
}
.search-container-field-container{
  text-align: center;
  border: 1px solid black;
  background-color: white;
  height: 22px;
  width: 2rem;
}
.body{
  background-color: white;
}
.search-field-width {
  margin-top: 1rem;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-title-width {
  margin-top: 1rem;
  gap: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-title {
  font-weight: 600;
  font-size: 1rem;
}
.search-field-title {
  font-weight: 600;
  font-size: .8rem;
}
.entries-font {
  font-weight: 500;
  font-size: .5rem;
}
.table {
  width: 0%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.label {
  background: white;
  display: flex;
  
}

.search-table-header {
  background: #008555;
}
.table-container {

 margin: 6%;
}
.go-button {
  background-color: #008555;
    color: white;
    height: 2rem;
   padding: .5rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
}

.isolated-term{
    background-color:rgba(190, 190, 190, 1);
    color: black;
    text-align: center;

    font-size: 0.9rem;
  
    border-radius: 4px;
}

.isolated-terms-container{
 display: flex;
 flex-direction: row;

}
/* ################################################################# */

.container {
  position: relative;
  width: 100%;
  margin-left: 20px;
  /* margin-top: 20px; */
}

.analysts-heading {
    margin-left: -80px;
    margin-bottom: 40px;
  }

.action-item {
    margin-left: 6px;
    font-size: 10px;
}

  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* Add margin at the bottom of the search container */
  }
  .search-top {
    display: flex;
    align-items: center;
    margin-bottom: 30px; /* Add margin at the bottom of the search container */
  }
  
  .search-container-field {
    background-color: white;
    width: 10%; /* Increase the width of the search input */
    border-radius: 2px;
    border: 1px solid black;
    text-align: center;
  }
  .advanced-search-container-field {
    background-color: #D5ECE7;
    width: 245px; /* Increase the width of the search input */
    border-radius: 8px;
    height: 34px;
    margin: 5px;
    border: 1px solid #008555;
  }
  .example-full-width{
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
   
  }
 
  .center-container{
    width: 100%;
    justify-content: center;
    padding-bottom: 30px;
    align-items: center;
   
  }
  .items-per-page{
  display: flex;
    justify-content: space-around;
    gap: 3px;
    width: 30%;
  }
  .center-advanced{
    margin-top: 1rem;
    justify-content: center;
    
  }

  .full-width{
    width: 100%;
    display: flex;
    flex-direction: row;
   margin-bottom: 1.5rem;
    
   
  }
  .search-container input {
    border: 1px solid #008555; /* Add border to the search input */
    padding: 5px; /* Add padding to the search input */
    margin-right: 5px; /* Add some spacing between the search input and button */
    width: 300px; /* Increase the width of the search input */
    padding: 10px 20px;
    border-radius: 8px;
  }
  
  .search-container button {
    padding: 10px 20px; /* Add padding to the search button */
    background-color: #008555; /* Set the background color of the search button */
    color: white; /* Set the text color of the search button */
    border: none; /* Remove the border of the search button */
    border: 2px solid #008555;
    border-radius: 8px;
    margin-left: 10px;
  }
  .center-div{

  position: relative;
  width: 100%;
 
  /* margin-top: 20px; */

   
   }
  .search{
  
   flex-direction: column;
   width: 100%;
  
  }
  .header-right-advanced-search{
    background-color: #898A8E;

    color: white;
    height: 34px;
    width: 6rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;

  }
  .clearButton{
    background-color: #898A8E;
    color: white;
    height: 34px;
    width: 4rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;
    white-space: nowrap;
  }
  .advanced-search-card-header{
    background-color: #008555;
    color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    text-align: center;
  }
.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 100px;
    margin-right: auto;
    max-width: 600px; 
  }
  
  .table-wrapper {
    border-radius: 8px 8px 0 0;
    /* overflow: hidden; */
  }
  
  table {
    width: 150%; /* Increase the width of the table */
    border-collapse: collapse;
    /* max-width: 150%; */
  }
  .column-line {
    padding: 10px;
    text-align: left;
    
   /* Default background color for column headers */
  /*  border: 1px solid black;  */
    
  }
  .header-text:{
    color: white;
    background-color: white;
    font-weight: 700;
    text-align: center;
    justify-content: center;
  }
  th {
align-items: center;
justify-content: center;
    text-align: center;
    color: white; /* Column header text color */
    background-color: #008555; /* Default background color for column headers */
    white-space: nowrap;
  }
  .cells {
    background-color:  white; /* Background color for specific column headers */
    text-align: center;
    justify-content: center;
    padding: 0px;
    color: black;
    border: .5px solid rgba(0, 0, 0, 0.4);
    white-space: nowrap;

   

  }
  .header {
    background-color: #008555; /* Background color for specific column headers */
    color: white;
    text-align: center;
    font-weight: 500;
width:100%;
    white-space: nowrap;
    display:flex;
    flex-direction: row;
    font-size: 14px;
   
   justify-content: center;
  }
  .header-cell{
   display: flex;
    text-align: center;
  }
  .expantionPannel {
    width:100%;
  }
  .dueDate{
    width:75px;
    text-align: center;
  }
  .advanced-search-open{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
    background-color: white;
    color: white;
    border-left-color: black;
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
    border-width: 1px;
    border-style: solid;
  }
  .advanced-search-open-other{
    display: flex;
    padding-top: 15px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-left-color: black;
    border-right-color: black;
    border-top-color: white;
    border-bottom-color: white;
    border-width: 1px;
    border-style: solid;
  }
  .advanced-search-buttons-container{
  display: flex;
    width: 245px;
    height:30px;
    gap:1rem;
    justify-content: center;
    align-items: flex-start;
    
   
  }
  .button-container{
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  
  }
  td {
    padding: 10px;
    border: 2px solid gray; /* Border style for rows */
    text-align: center;
  }

  

  .scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 0;
    background-color: #008555;
    color: rgb(245, 241, 241);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
  }
  
  .table-container{
    margin-top: 1rem;
  }
  .scroll-top-btn i {
    font-size: 20px;
    line-height: 40px;
  }
  
  .header-left-upload {
    background-color: #008555;
    color: white;
    height: 34px;
    width: 6rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 4px;

  }
  .formFormat{
    display:flex;
    flex-direction: column;
  }
   .formFormatSpecial{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .chip-field{
    border-radius: 4px;   
    height: 41px;

    align-self: flex-start;
  }
  .input-field{
    align-self: center;
    background-color: white;
   

  }
  .input-field-search-icon{
    color:rgba(0, 100, 80, 0.2);
    width:1.25rem;
    width:1.25rem;
  }

  .align-field-button-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 1rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 30px;
  }
.chips {
  color:rgba(0, 100, 80, 0.9);
}
.input-filed-spacer{
 
}
.assigned-chip{
  background-color: #0c8f8f;
  color: white;
}

.mat-form-field{
  border: 1px solid green;
}
.selected-button{
  text-decoration: solid;
}
.nextButton{
  font-size: 11px;
  color: #898A8E;
  font-weight: 600;
  width: min-content;
  text-decoration: solid;
  white-space: nowrap;
  text-align: center;
  margin-left: 3rem;

}
.previousButton{
  font-size: 11px;
  color: #898A8E;
  font-weight: 600;
  width: min-content;
  text-decoration: solid;
  white-space: nowrap;
  margin-right: 0rem;
  text-align: center;
  justify-content: center;
}
.hidePager
{
  display: none;
}
.button-width
{
  width: 5px;
  margin-left: 5px;
  margin-right: 5px;
}
.small-text-button{
width:8px;
}
mat-form-field {
  padding: 0;
  border-color: white;
}